* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/Dia-do-programador-1068x598.jpg);
    background-size: cover;
    background-position: 50%;
    display: flex;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    z-index: -99;
}

aside {
    background-color: #a43f49;
    width: 20%;
    margin-left: 5vw;
    padding: 45px 0px 45px 0px;
    overflow-y: auto;
}

.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profile #img {
    background-color: aqua;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.profile #img img {
    width: 100%;
    border-radius: 50%;
}

.profile #name {
    margin-top: 25px;
    font-weight: 600;
}

.profile #profession {
    font-weight: 400;
    margin-top: 5px;
}

aside ul {
    list-style: none;
    width: 100%;
    margin-top: 30px;
}

aside ul a {
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 99;
}

aside ul a li {
    border-bottom: 1px solid white;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;

}

aside ul a li:first-child {
    border-top: 1px solid white;
}

aside ul a li:hover {
    background-color: white;
    color: #a43f49;
    transition: all ease 1s;
}

.active {
    background-color: white;
    color: #a43f49;
}

.social-medias {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.social {
    width: 35px;
    height: 35px;
    background-color: #83323a;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social a img {
    width: 25px;
    height: auto;
}

main {
    flex: 1;
    padding: 2vh 5vw 4vh 5vw;
    overflow: auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #ccc;
    margin-top: 40px;
}

.title {
    color: white;
}

.line {
    width: 60px;
    height: 3px;
    background-color: #a43f49;
    margin-top: 10px;
}

.subtitle {
    color: white;
    margin-top: 10px;
    text-align: center;
    line-height: 20px;
}

.about {
    display: flex;
    margin-top: 60px;
    margin-bottom: 50px;
}

.about img {
    width: 420px;
    height: 300px;
    border-radius: 5px;
}

#desc {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-left: 20px;
}

.technologies {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.technology {
    width: 48%;
    height: 200px;
    background-color: rgba(100, 100, 100, 0.3);
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.technology:hover {
    background-color: white;
    color: #a43f49;
    transition: all ease 1s;
}

.name-tech {
    font-size: 25px;
    margin-top: 10px;
}

.desc-tech {
    margin-top: 10px;
    font-size: 18px;
}

.projects {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.project {
    width: 45%;
    background-color: #a43f49;
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.project .images {
    display: flex;
    justify-content: space-between;
}

.project img {
    width: 15px;
}

.name-project {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.desc-project {
    margin-top: 10px;
}

.link-repositer {
    margin-top: 45px;

}

.link-repositer a {
    text-decoration: none;
    color: black;

}

.link-repositer a svg {
    margin-left: 5px;
}